{{ 'task1.css' | asset_url | stylesheet_tag }}

<section class="task1">
  <div class="task1-div">
    <div class="task1-img">
      {% if section.settings.iamge_url != blank %}
        <img src="{{section.settings.iamge_url |  image_url: width:200 }}" />
      {% else %}
        <img src="{{'default.jpg' |  asset_img_url:'medium'}}" />
      {% endif %}
    </div>
    <div class="task1-container">
      <h1>
        {{ section.settings.heading }}
      </h1>
      {% for block in section.blocks %}
        <div class="product">
          <div class="product-image">
            {% if block.settings.proimage_url != blank %}
              <img src="{{block.settings.proimage_url |  image_url: width:300 }}" />
            {% else %}
              <img src="{{'default.jpg' |  asset_img_url:'medium' }}" />
            {% endif %}
          </div>
          <h2>{{ block.settings.title | escape}}</h2>
          <h2>{{ block.settings.price | money | escape}}</h2>
        </div>
      {% endfor %}
      <button class="addtocartbtn" >ADD TO CART</button>
     
        
    
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "task1",
    "settings": [
      {
        "type": "image_picker",
        "id": "iamge_url",
        "label": "image"
      }, {
        "type": "text",
        "id": "heading",
        "default": "Complete the look",
        "label": "heading"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "products",
        "settings": [
          {
            "type": "image_picker",
            "id": "proimage_url",
            "label": "product image"
          }, {
            "type": "text",
            "id": "title",
            "label": "product title",
            "default": "Product name or title"
          }, {
            "type": "number",
            "id": "price",
            "label": "product price",
            "default": 999
          }
        ]
      }
    ],
    "max_blocks": 5,
    "presets": [
      {
        "name": "Task 1 section",
        "blocks": [
            {
            "type":"product"
            }
    ]
      }
    ]
  }

{% endschema %}